@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'San Francisco';
  src: url('https://uploadthing.com/f/54a0767e-2ed8-40c0-8ddd-d179b5a6ba7b-g75vai.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'San Francisco';
  src: url('https://uploadthing.com/f/f7576d04-d449-4308-b077-f932f4fc8b50-jkn1h4.otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'San Francisco';
  src: url('https://uploadthing.com/f/64264e83-3d45-49b3-812f-93c3963adcba-pl8zk6.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'San Francisco';
  src: url('https://uploadthing.com/f/63cb5e9b-8c90-409c-8006-bbefc19b44a3-mafubu.otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'San Francisco';
  src: url('https://uploadthing.com/f/1ab7d776-5cfa-4d25-9850-67584ff51b8c-3d85lc.otf');
  font-weight: 300;
  font-style: normal;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
    --font-san-francisco: 'San Francisco', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
      sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  }

  .dark {
    --background: 229 55% 8%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .timeline-right .timeline-metadata {
    @apply md:float-right;
  }

  .timeline-right .timeline-date {
    @apply md:justify-end;
  }

  .timeline-right .timeline-text {
    @apply md:text-right;
  }
}

.grid-hero {
  grid-template-columns: 1.2fr 1fr;
}

.linear-top-white {
  background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.linear-bottom-white {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.gradient-line {
  background: rgb(105, 65, 198);
  background: linear-gradient(360deg, rgba(105, 65, 198, 1) 0%, rgba(129, 14, 223, 1) 69%, rgba(0, 56, 254, 1) 100%);
}

.timeline-grid {
  grid-template-columns: 24px 1fr;
}
